# Ignore objects and archives.
*.[oa]
*.ko
*~
autom4te.cache/*
*/.deps/*
*/.tmp_versions/*
*.mod.c
.pc/*

Makefile
Makefile.in
config.*
configure
aclocal.m4
stamp-h1
libtool

config/*

m4/lt*.m4
m4/libtool.m4

debian/gtasks2ical.log
debian/gtasks2ical/
debian/*.substvars
debian/*.debhelper
debian/tmp/*

doc/man/gtasks2ical.1
doc/doxygen
doc/main.doc

src/gtasks2ical

test/atconfig
test/atlocal
test/test-someexecutable
test/testsuite
test/testsuite.log
test/testsuite.at
